{%  extends 'mailing/base.html'%}

{% block content %}

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header"><h5 class="card-title">Информация о рассылках</h5></div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Количество рассылок всего</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Количество активных рассылок</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Количество уникальных клиентов для рассылок</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3 случайные статьи из блога</td>
                            <td>имя статьи и кнопка показать</td>
                            <td>имя статьи и кнопка показать</td>
                            <td>имя статьи и кнопка показать</td>
                        </tr>
                    </table>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}

